<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINKEO DEL ESTILO PARA EL FORM -->
    <link rel="stylesheet" href="../../assets/stylesheets/categorias.css">

    <title>Categorias</title>
</head>

<body>
    <div class="cont-form" >
    <form class="formulario-categorias">
        <label for="nombre_categoria">Nombre de Categoría:</label>
        <input class="nombre-categoria" type="text" name="nombre_categoria" placeholder="Categoría...">
        <label class="radio-buttons" for="nombre_categoria">Nivel de Prioridad:
           
                <label>
                    <input id="check1" type="radio" name="prioridad" value="maxima"> Maxima
                </label>
                <label>
                    <input id="check2" type="radio" name="prioridad" value="media"> Media
                </label>
                <label>
                    <input id="check3" type="radio" name="prioridad" value="baja"> Baja
                </label>
            
        </label>
        <label class="buttons">
            <input class=".enviar-btn" type="submit" value="enviar">
            <input class=".cancelar-btn" type="submit" value="cancelar">
        </label>
        <label class="nombre">Javier Emanuel Huebra</label>
    </form>
</div>
</body>

<script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  
    crossorigin="anonymous">
</script>

<script src="../../assets/js/validaciones.js"></script>
</html>