<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINKEO DEL ESTILO PARA EL FORM -->
    <link rel="stylesheet" href="../../assets/stylesheets/categorias.css">

    <title>Categorias</title>
</head>

<body>
    <div class="cont-form">
    <form class="formulario">
        <label for="nombre_categoria">Nombre de Categoría:</label>
        <input type="text" name="nombre_categoria" placeholder="Categoría...">
        <label class="radio-buttons" for="nombre_categoria">Nivel de Prioridad:
           
                <label>
                    <input type="radio" name="prioridad" value="maxima"> Maxima
                </label>
                <label>
                    <input type="radio" name="prioridad" value="media"> Media
                </label>
                <label>
                    <input type="radio" name="prioridad" value="baja"> Baja
                </label>
            
        </label>
        <label class="buttons">
            <input type="submit" value="enviar">
            <input type="button" value="cancelar">
        </label>
        <label class="nombre">Javier Emanuel Huebra</label>
    </form>
</div>
</body>

</html>