<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINKEO DEL ESTILO PARA EL FORM -->
    <link rel="stylesheet" href="../../assets/stylesheets/productos.css">

    <title>Productos</title>
</head>

<body>
    <div class="cont-form">
    <form class="formulario-productos">
        <label for="nombre_producto">Producto:</label>
        <input class="nombre-producto" type="text" name="nombre_producto" placeholder="Producto...">
        <label class="radio-buttons" for="nombre_categoria">En venta:
           
                <label>
                    <input id="check1" type="radio" name="en_venta" value="si"> SI
                </label>
                <label>
                    <input id="check2" type="radio" name="en_venta" value="no"> NO
                </label>
            
        </label>
        <label class="buttons">
            <input type="submit" value="enviar">
            <input type="button" value="cancelar">
        </label>
        <label class="nombre">Javier Emanuel Huebra</label>
    </form>
</div>
</body>
<script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  
    crossorigin="anonymous">
</script>
<script src="../../assets/js/validaciones.js"></script>
</html>